<div class="survey">

  <header>
    <h1 class="usa-heading-alt"><%= @survey.title %></h1>
  </header>

  <div class="intro">
    <%= raw @md.render(@survey.intro) %>
  </div>

  <div class="usa-grid">
    <%= form_for @survey, url: survey_submit_path(@survey.id) do |form| %>
    <%= hidden_field_tag 'token', @token %>
    <%- @survey.questions.each do |question| %>
      <fieldset>
        <%- case question.question_type %>
          <%- when 'exclusive' %>
            <%= render partial: 'exclusive', locals: {form: form, question: question} %>
          <%- when 'multiple', 'exclusive-combo' %>
            <%= render partial: 'multiple', locals: {form: form, question: question} %>
          <%- when 'freeform' %>
            <%= render partial: 'freeform', locals: {form: form, question: question} %>
         <%- end %>

        <%- unless question.description.blank? %>
          <div class="description">
            <%= raw @md.render(question.description) %>
          </div>
        <%- end %>
      </fieldset>
    <%- end %>

      <%= form.submit 'Submit Response' %>
    <%- end %>
  </div>
</div>
